footer 
     .home.list
          a(href="homepage.html")  
               <i class="fas fa-home fa-2x"></i>

     .plue.list 
          a(href="translate.html")
               <i class="fas fa-plus-circle fa-2x"></i> 

     .study.list
          a(href="study.html") 
               <i class="fas fa-book-reader fa-2x"></i>

     .card.list
          a(href="card.html")
               <i class="fas fa-swatchbook fa-2x"></i>