doctype html
html(lang="ja")
     head
          include _html3_01_head.pug
          link(rel="stylesheet" href="css/index.css")
          title JPASS
     body 
          include _header.pug

          main 
               .font 
                    h2 JPass 
                    p JLPT試験学習アプリ

               .acc 
                    .acc_registration
                         a(href="registration.html") アカウントを新規作成

                    p または
                         
                    .acc_login  
                         a(href="login.html") ログイン