doctype html
html(lang="ja")
     head
          include _html3_01_head.pug
          link(rel="stylesheet" href="css/test.css")
          title テスト

     body 
          header 
               h1 小テスト

          main 
               .wrap 
                    .wrap_test
                         .wrap_test_bg 
                              .wrap_test_bg_no
                                   h2 1

                              .wrap_test_bg_title 
                                   p 長年連れそった主人を亡くし、何か心の中に穴があいたみたいで寂しい[…]。

                              .wrap_test_bg_question
                                   p 極みだ
                                   p 限りだ
                                   p きりだ
                                   p 至りだ

                    .wrap_test
                         .wrap_test_bg 
                              .wrap_test_bg_no
                                   h2 2

                              .wrap_test_bg_title 
                                   p 長年連れそった主人を亡くし、何か心の中に穴があいたみたいで寂しい[…]。

                              .wrap_test_bg_question
                                   p 極みだ
                                   p 限りだ
                                   p きりだ
                                   p 至りだ

                    .wrap_test
                         .wrap_test_bg 
                              .wrap_test_bg_no
                                   h2 3

                              .wrap_test_bg_title 
                                   p 長年連れそった主人を亡くし、何か心の中に穴があいたみたいで寂しい[…]。

                              .wrap_test_bg_question
                                   p 極みだ
                                   p 限りだ
                                   p きりだ
                                   p 至りだ

          include _footer.pug