doctype html
html(lang="ja")
     head
          include _html3_01_head.pug
          link(rel="stylesheet" href="css/translate.css")
          title 翻訳

     body 
          header 
               h1 今日の言葉

          main 
               .wrap 
                    .wrap_jan 
                         h2 日本語での意味

                         .wrap_jan_translate 
                              h3 耳タコ
                              p 
                                   |耳にたこができるの略。 
                                   br
                                   |同じことをなんども聞かされて嫌になること

                         .wrap_jan_sample 
                              h4 例文
                              p ーその話は耳にタコができるほど聞かされた。
                              p ーその話は耳にタコができるほど聞かされた。

                    .wrap_jan 
                         h2 英語での意味

                         .wrap_jan_translate 
                              h3 耳タコ
                              p hear enough・hear too often

                         .wrap_jan_sample 
                              h4 例文
                              p 
                                   |ーその話は耳にタコができるほど聞かされた。 
                                   br
                                   |I’ve heard enough of it.

                              p 
                                   |ーその話は耳にタコができるほど聞かされた。
                                   br
                                   |I’ve heard enough of it.

          include _footer.pug